.next
node_modules
out
.env*.local

# IDE
.idea
.DS_Store

# Create Fake Data
create-fake-orders.sh
.DS_Store
.idea

# Other
create-fake-orders.sh
.idea
.DS_Store

# Create Fake Data
create-fake-orders.sh
.DS_Store
.idea

# Other
create-fake-orders.sh
